<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Upload File</title>
    </head>
    <body>
        <h1>Upload Success: $name</h1>
         <table>
            #set ($rowCount = 1)  
            #foreach($word in $csv.keySet())
                #if ($rowCount % 2 == 0)
                    #set ($bgcolor = "#FFFFFF")
                #else
                    #set ($bgcolor = "#CCCCCC")                
                #end
                <tr>
                    <td bgcolor="$bgcolor">$word</td>
                    <td bgcolor="$bgcolor">$csv.get($word)</td>
                </tr>                        
                #set ($rowCount = $rowCount + 1)
            #end
        </table>
        #foreach ($word in $csv.keySet())
        	#set ($value = $csv.get($word)) 
        	#set ($font = "")
        	#set ($font = ($largestTag - $smallestTag) * (($value - $minTag) / ($maxTag - $minTag)) + $smallestTag)
       		#Font: $font, largestTag: $largestTag, smallestTag: $smallestTag, Value: $value, minTag: $minTag, maxTag: $maxTag <br> 
 
       		<font size=$font>$word</font><br>
     
        #end
    </body>
</html>

